{{!-- <div class="survey-container"> --}}
    <div class="row">
        {{!-- <div class="panel panel-default"> --}}
            <div class="panel-heading">Complete Our Gift Survey to Find Some Gift Suggestions!</div>
            <form action="/api/products" target="_self" method="GET">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                   
                        <h3><strong>What is the name of the recipient?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <input type="name" name="recipientName" required> 
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h3><strong>What is the age of the recipient?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="ageGroup">
                            <option value="1">6 to 12</option>
                            <option value="2">13 to 20</option>
                            <option value="3">21 +</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                    
                        <h3><strong>Are you close with this person?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="isClose">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">   
                        <h3><strong>Is this person outgoing?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="isLifeOfParty">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">  
                        <h3><strong>Could this gift be worn?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="isUseable">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">  
                        <h3><strong>Is this gift a luxury item?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="isLuxury">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">  
                        <h3><strong>Is this item over $100?</strong></h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="giftee">
                        <select name="isPriceHigh">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                 </div> 
                <!-- submit button -->
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="answerButton">
                        <input name="userid" type="hidden" value={{ data.unid.id }}>
                        <input name="userName" type="hidden" value={{ data.unid.userName }}>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
                </div>           
            </form>
        {{!-- </div> --}}
    </div>
{{!-- </div> --}}
